#Logo{
  margin-top: 10px;
  margin-left: 30px;
}
#Grid{
  display: grid;
  grid-template-columns: 180px 1fr;
  margin-top: 10px;
}
#List {
  padding-right: 10px;
  border-right: 2px solid darkorange;
  font-weight: bolder;
}
#List , #List ul{
  text-overflow: ellipsis;
  padding-left: 10px;
}
#Main{
  padding-left: 30px;
}
@media(max-width:600px){
  #Grid{
    display: block;
  }
  #List{
    border-right: none;
    border-top: 2px solid darkorange;
    border-bottom: 2px solid darkorange;
    padding: 10px;
    font-weight: normal;
  }
  #Main{
    margin-left: auto;
    margin-right: auto;
  }
  #Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #Main img{
    max-width: 100%;
    width: auto;
  }
  #NightMode{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
